<h1>BIG CASTLE... tiny URL</h1>

<% if(email){ %>

  <form method="POST" action="/logout">
    <p> Logged in as: <%= email %> </p>
    <input type="submit" value="Logout">
  </form>

<% }else{ %>

  New user? <a href="/register" class="button">Register</a> here

  <br>

  Existing user? <a href="/login" class="button">Log in</a> here

  <% } %>

<br> <br> <!-- Just to give space between the header and the rest of the page -->
