<h2>Welcome back, my lord</h2>
<p> Please insert your details </p>
    <form method="POST" action="/login">
      <input name="email" type="text" placeholder="email">
      <input name="password" type="password" placeholder="password">
      <input type="submit" value="Login">
    </form>
    <img src="/kneelingKnight.jpg" style="width:540px;height:328px;">
