
<p> Log in here </p>
    <form method="POST" action="/login">
      <input name="email" type="text" placeholder="email">
      <input name="password" type="password" placeholder="password">
      <input type="submit" value="Login">
    </form>
