<body background="/BGimage.jpg">
  <div>
    <h1> Here be ye olde URL shortener </h1>

    <br> New user? <a href="/register" class="button">Register</a> here
    <br> Existing user? <a href="/login" class="button">Log in</a> here

  </div>

  <br>

</body>
