<!DOCTYPE html>
<html>

<head></head>

<body>
  <h2> Who art thou?</h2>

  <form method="POST" action="/register">
    <p>Insert email and password:</p>
    <input type="email" name="email" placeholder="email address">
    <input type="password" name="password" value="abc">
    <input type="submit" value="Submit">
  </form>

  <br>
  <img src="/lionKing.jpg" style="width:300px;height:300px;">

</body>

</html>
