<!DOCTYPE html>
<html>
  <head></head>

  <body>
  <h2> Please register below</h2>

    <form method="POST" action="/register">
      <p>Insert email address and password:</p>
      <input type="email" name="email" placeholder="email address">
      <input type="password" name="password" value="abc">
      <!-- <input id="longURL" type="text" name="longURL" placeholder="http://" > -->
      <input type="submit" value="Submit">
    </form>

  </body>

</html>
