<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_header %>

  <title>TinyApp</title>
  <!-- /*<style>
    body{
      background-image: url("BGimage.jpeg");
    }
  </style>*/ -->

</head>

<body>

  <h1>Tiny App... from urls_index.ejs</h1>

  <a href="/urls/insert-LINK-here!"> Edit</a>


</body>
</html>
