<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../views/partials/_header %>

    <title>TinyApp</title>

</head>

<body>

  <ul>
    <% for(key in urls) { %>
      <li>
        <form method="POST" action="/urls/<%= key %>/delete">
          <%= key %> → <%= urls[key] %>
            <% if(email){ %>
              <a href="/urls/<%= key %>"> Edit</a>
              <input type="submit" value="Delete"></input>
              <% }%>
        </form>

        <br>
      </li>
      <% } %>
  </ul>

  <% if(email){ %>
    <p> Create a new <a href="/urls/new"> shortURL</a> here!</p>
  <% }%>

</body>

</html>
