
<p>ShortURL: <b> <%= shortURL %></b> </p>

<p>How would you like to edit this URL, my liege?</p>
<%= username %>

<form method="POST" action="/urls/<%= updatedURL %>">
  <input type="text" value="<%= longURL %>" name="longURL"></input>
  <input type="submit" value="Update"></input>
</form>

<br> <img src="knight.jpeg" style="width:304px;height:228px;">
